Versand.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT Versand (Bestellung*,Kunde*,Artikel*)>
<!ELEMENT Datum (#PCDATA)>
<!ELEMENT Preis (#PCDATA)>

<!ELEMENT Kunde (Name)>
<!ELEMENT Name (#PCDATA)>

<!ELEMENT Artikel (Name)>
<!ELEMENT Bestellposition (#PCDATA)>



<!ATTLIST Bestellung
		BestNr ID #REQUIRED
		Kunde IDREF #REQUIRED
>

<!ATTLIST Kunde
		KID ID #REQUIRED
>
<!ATTLIST Artikel
		AID ID #REQUIRED
>
<!ATTLIST Bestellposition
		ArtID IDREF #REQUIRED
>

<!ENTITY copyright "&#xA9;">